<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}Lostfilm notificator{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}"/>
        {% stylesheets '../app/Resources/public/scss/*' filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>

<body>

<div class="container">

    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app_default_index') }}">Lostfilm notificator</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('app_settings_index') }}">Настройки</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b
                                        class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_change_password') }}">Сменить пароль</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">Войти</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>


    <div class="container-fluid">

        <h1>{% block h1 %}Lostfilm notificator{% endblock %}</h1>
        {% block body %}

        {% endblock %}

    </div>

</div>

{% block js %}
    {% javascripts
    'bootstrap/js/jquery.js'
    'bootstrap/js/bootstrap.js'
    '../app/Resources/public/js/*'
    output='js/compiled/base.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% if ga_tracking %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{ ga_tracking }}', 'auto');
        ga('send', 'pageview');

    </script>
    {% endif %}

{% endblock %}

{% block customjs %}
{% endblock %}
</body>
</html>
