{% extends '::layout.html.twig' %}

{% block title %}Добро пожаловать в Lostfilm notificator{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'id': 'subscriptionForm'}}) }}
    <div class="container submit-button-top">
        <button type="submit" class="btn btn-default btn-success">Сохранить</button>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#lostfilm" aria-controls="lostfilm" role="tab" data-toggle="tab">Lostfilm</a>
        </li>
        <li role="presentation">
            <a href="#animedia" aria-controls="animedia" role="tab" data-toggle="tab">Animedia</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="lostfilm">
            <table class="table table-striped">
                <tbody>
                {% for show in form.subscribedShows if shows[show.vars.value] is instanceof('AppBundle\\Document\\LostfilmShow') %}
                    <tr>
                        <td>{{ form_label(show) }}</td>
                        <td>{{ form_widget(show) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="animedia">
            <table class="table table-striped">
                <tbody>
                {% for show in form.subscribedShows if shows[show.vars.value] is instanceof('AppBundle\\Document\\AnimediaShow') %}
                    <tr>
                        <td>{{ form_label(show) }}</td>
                        <td>{{ form_widget(show) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container submit-button-top">
        <button type="submit" class="btn btn-default btn-success">Сохранить</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        $(function() {
            $(':checkbox').checkboxpicker();
        });
    </script>
{% endblock %}
