Вышла новая серия сериала <b>{{ show.title }}</b> на сайте lostfilm.tv:
<b>{{ episode.title }}</b> (Сезон {{ episode.seasonNumber }}, эпизод {{ episode.episodeNumber }})

{% if episode.links | length > 0 %}
    Ссылки для скачивания:
    {% for link in episode.links %}
        <a href="{{ link.url }}">{{ link.resolution }}</a>&nbsp;&nbsp;
    {% endfor %}
{% endif %}